<div class="modal fade" role="dialog" tabindex="-1" id="modal-carrito">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-style: none;border-color: var(--bs-purple);border-bottom-style: solid;border-bottom-color: var(--bs-gray-500);">
                <h4 id="modal-tittle-carrito" style="color: #009929;">MI CARRITO (3)</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body-carrito">
                <div class="row" style="border-style: none;border-color: var(--bs-purple);border-bottom: 1px solid var(--bs-gray-500) ;">
                    <div class="col-xxl-3"><img width="100" height="80" style="width: 100%;height: 90%;"></div>
                    <div class="col">
                        <div class="row">
                            <div class="col-xxl-9">
                                <h6><br><strong>Aceite corporal de almendras dulces</strong><br><br></h6>
                            </div>
                            <div class="col" style="text-align: right;"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-x" style="font-size: 39px;color: var(--bs-secondary);">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                    </svg></a></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: var(--bs-gray-700);font-weight: bold;">500ML</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: var(--bs-gray-700);font-weight: bold;">Cantidad:</p>
                            </div>
                            <div class="col"><input type="number" style="width: 100%;"></div>
                            <div class="col">
                                <p style="color: var(--bs-gray-700);font-weight: bold;">10,45 E</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-style: none;border-color: var(--bs-purple);border-bottom: 1px solid var(--bs-gray-500);padding-top: 10px;">
                    <div class="col-xxl-9">
                        <p style="color: var(--bs-gray-700);font-weight: bold;">Subtotal</p>
                    </div>
                    <div class="col">
                        <p style="color: var(--bs-gray-700);font-weight: bold;">38,40 E</p>
                    </div>
                </div>
                <div class="row" style="border-style: none;border-color: var(--bs-purple);border-bottom: 1px solid var(--bs-gray-500);padding-top: 10px;">
                    <div class="col-xxl-9">
                        <p style="color: #009929;font-weight: bold;">TOTAL (IVA incluido)</p>
                    </div>
                    <div class="col">
                        <p style="color: #009929;font-weight: bold;">38,40 E</p>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                    <div class="col"><button class="btn btn-primary boton" type="button">Ir al carrito</button></div>
                </div>
                <div class="row">
                    <div class="col"><button class="btn btn-primary boton" type="button">Realizar pedido</button></div>
                </div>
            </div>
        </div>
    </div>
</div>