
  <nav class="navbar navbar-light navbar-expand-md py-3">
    <div class="container-fluid">
        <div style="width: 20%;height: auto;"><img routerLink="/index" style="width: 100%" width="376" height="120" src="http://localhost:1802/api/productImage/logo" class="btnhover"></div><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul>
            <div>
                <div class="row">
                    <div class="col" style="text-align: center;"><svg routerLink="/favoritos" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-heart btnhover" style="font-size: 25px;color: #009929;">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                        </svg></div>
                    <div class="col" style="text-align: center;width: 110.4844px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-circle" style="font-size: 37px;color: #009929;width: 25px;height: 25px;">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                        </svg></div>
                    <div class="col" style="text-align: center;width: 110.4844px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-basket3" style="font-size: 37px;color: #009929;width: 25px;height: 25px;">
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"></path>
                        </svg></div>
                </div>
                <div class="row">
                    <div class="col-4" style="text-align: center;padding-left: 0px;padding-right: 0px;width: 110.4844px;"><a routerLink="/favoritos" style="color: var(--bs-navbar-active-color);font-size: 16px;">Mis Favoritos</a></div>
                    <div class="col" style="text-align: center;width: 110.4844px;">
                        <div class="dropdown"><a class="dropdown" aria-expanded="false" data-bs-toggle="dropdown" id="cuentaDropdown" style="color: var(--bs-navbar-active-color);text-align: center;font-size: 16px;">Mi cuenta</a>
                            <div class="dropdown-menu"><a class="dropdown-item cuentaDrop" style="border-bottom: 1px solid var(--bs-gray-500) ;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    </svg>Mi Cuenta</a><a class="dropdown-item cuentaDrop" routerLink="/favoritos" style="border-bottom: 1px solid var(--bs-gray-500) ;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-heart">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                                    </svg>Mis Favoritos</a><a routerLink="/cart" class="dropdown-item cuentaDrop" style="border-bottom: 1px solid var(--bs-gray-500) ;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check2">
                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
                                    </svg>Mi carrito</a>
                                    <a class="dropdown-item cuentaDrop" *ngIf="!estaLogueado()" routerLink="/login" style="border-bottom: 1px solid var(--bs-gray-500) ;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-lock-fill">
                                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"></path>
                                    </svg>Entrar</a>

                                    <a class="dropdown-item cuentaDrop" (click)="onLogout()" *ngIf="estaLogueado()" routerLink="/login" style="border-bottom: 1px solid var(--bs-gray-500) ;"><i class="bi bi-box-arrow-right"></i>Logout</a>

                                    <a class="dropdown-item cuentaDrop btnhover" *ngIf="!estaLogueado()" routerLink="/register" style="border-bottom: 1px none var(--bs-gray-500) ;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-plus-fill" >
                                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"></path>
                                    </svg>Crear una Cuenta</a></div>
                        </div>
                    </div>
                    <div class="col" style="text-align: center;padding-left: 2px;padding-right: 1px;width: 110.4844px;"><a id="btn-carrito" data-bs-target="#modal-carrito" data-bs-toggle="modal"style="color: var(--bs-navbar-active-color);font-size: 16px;">Mi carrito</a></div>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="row">
    <div class="col" style="text-align: center;">
        <h2 style="font-weight: bold;">Esta es tu cesta de la compra</h2>
    </div>
</div>
<div class="row">
    <div class="col-xxl-8" id="carrito-productos">
        <div class="row">
            <div class="col">
                <h4 id="numero-articulos" style="margin-left: 40px;font-weight: bold;">0 Artículos</h4>
            </div>
        </div>

    </div>
    <div class="col" style="background: rgb(250,250,250);">
        <div class="row">
            <div class="col">
                <h4 style="font-weight: bold;">Resumen de tu pedido:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="font-size: 16px;">SUBTOTAL</p>
            </div>
            <div class="col" style="text-align: right;">
                <p class="total" style="font-size: 18px;color: var(--bs-secondary);font-weight: bold;padding-right: 10px;"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="font-size: 25px;font-weight: bold;">TOTAL:</p>
            </div>
            <div class="col" style="text-align: right;">
                <p class="total" style="font-size: 25px;font-weight: bold;padding-right: 10px;"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: var(--bs-secondary);padding-left: 10px;font-size: 14px;">(Envío no incluido)</p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center" style="padding-top: 80px;"><button class="boton" type="button" (click)="comprar()" style="width: 51%;padding-top: 7px;">Realizar pedido</button></div>
        </div>
        <div class="row">
            <div class="col" style="padding-top: 30px;"><a href="#" style="color: #009929;font-weight: bold;text-decoration:  underline;">¿Quieres añadir más productos?</a></div>
        </div>
    </div>
</div>
