
.btn-login {
    background-color: #1877f2;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 600;
    margin-left: 130px;
  }
  
  .btn-new {
    background-color: #5ccb5f;
    border: none;
    width: 150px;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 20px; 
    margin-left: 170px;
  }
  
  ::placeholder {
    color: white;
    font-size: 1em;
  }
  
  .g-recaptcha{
    margin-left: 100px;
  }