*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: WorkSans-Regular,Helvetica,Arial,sans-serif;

}

@media screen and (max-width: 640px) {
  #ocultar{
  display:none;
  }
  #filtro{
    display: none;
  }
}




.iconos{
  width: 100%;
  height: auto;
  margin-left: 14px;
}



.icon-navbar{
  color: #009929;
}

.logo{
  width: 100%;
  height: auto;
}

.buscador{
  align-items: center;
  display: flex;
  justify-content: space-between;
  border: 2px #009929 solid;
  border-radius: 60px;
  width: 75%;
  height: 50%;
  padding: 10px 20px;

}


.buscador input{
  background: none;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  width: 100%;
  
}


.boton{
width: 100%;
height: 50px;
border-radius: 60px;
border: none;
color: white;
font-size: 18px;

}

.btn-verde{
background-color: #009929;

}

.btn-verde:hover{
opacity: 0.7;

}

.btn-facebook{
background-color: rgb(86, 121, 187);
}

.btn-naranja{
background-color: #efa229;
display: none;
width: 90%;
}


.precio-input{
width: 100px;
height: 50px;
text-align: center;
}

.logo{
  width: 300px;
  height: 100px;
  margin-left: 50px;
  border-radius: 15px;
  
  width: 100%;
  height: auto;
}


.input-range-precio {
-webkit-appearance: none;
width: 100%;
height: 5px; 
background-color: #009929;
appearance: none;
outline: none;
}


.input-range-precio::-webkit-slider-thumb {
-webkit-appearance: none; 
border-radius: 60px;
width: 25px; 
height: 25px; 
background: #009929; 
cursor: pointer; 
}

.producto {
  width:280px;
  text-align: center;
  Font-family: WorkSans-Regular,Helvetica,Arial,sans-serif;
  
}

.titulo{
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.producto p{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
}
.texto-precio {
  font-weight: 700;
  color: #009929;
  font-size: 22px;
}


.producto button:hover {
  opacity: 0.7;
}


.prueba{
background-image: "src-eco-store/logo.jpg";
height:60px;
width:70px;
}

.form{
width: 600px;
height: auto;
}

.input-registro{
background-color: rgb(247, 246, 251);
}



.input-login{
background: none;
flex: 1;
border: 0;
outline: none;
font-size: 20px;
width: 100%;

}

.input-contenedor {
display: flex;
width: 100%;
margin-bottom: 15px;
background-color: rgb(247, 246, 251);
}

.icono-login{
width: auto;
height: auto;
}

.me-gusta{
width: 20px;
height: auto;
position: relative;
left: 120px;
}

input[type="checkbox"]:checked + .me-gusta{
fill:red;

}

.label-me-gusta{
display: none;
}

#modal{
display: block;
}

.btn-pag{
width: 50px;
height: 50px;
color: black;
margin: 0 5px 0 0;
}



