<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<div class="container">

    <form accept-charset="UTF-8" role="form" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <div class="row">
            <div class="colm-form">
                <div class="form-container">
                    <input type="text" placeholder="Email" formControlName="usuario">
                    <input type="password" placeholder="Contraseña" formControlName="password">
                    <a href="#">¿Has olvidado tú contraseña?</a>
                    <div class="g-recaptcha" data-sitekey="6LeB-dEhAAAAABcBJxlLOKk4h20eOA2m-whJ_4qp"></div>
                    <div>
                        <button class="btn-new" role="link" onclick="window.location='/index.html'">Acceder</button>
                        <button class="btn-login" role="link" onclick="window.location='/index.html'">Accede con
                            Facebook</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>