<!DOCTYPE html>

<html>
<head runat="server">
    <title>Register Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/html/js/CheckPassword.js"></script>
    <link href="./checkpassword.component.css" rel="stylesheet" />
    <link href="./register.component.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <form role="form" [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)" errorTailor>
        <div class="container py-3">
            <div class="row">
                <div class="col-md-12">            
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card border-secondary">
                                <div class="card-header">
                                    <h3 class="mb-0 my-2">Crear nueva cuenta</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                
                                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                                            </div>
                                            <input ID="nombres" Class="form-control" type="text" formControlName="nombres"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                                            </div>
                                            <input ID="apellidos" Class="form-control"  type="text" formControlName="apellidos"/>
                                        </div>
                                    </div>
                                    <div class="card-header">
                                        <h3 class="mb-0 my-2">Información de inicio de sesión</h3>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                            </div>
                                            <input ID="email" Class="form-control" type="text" formControlName="email"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                            </div>
                                            <input ID="passwd"  type="Password" Class="form-control" formControlName="passwd" [controlErrorsTpl]="passwordError"/>
                                        </div>
                                        <div id="strengthMessage"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirmar Contraseña</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                            </div>
                                            <input ID="Confirmpasswd" type="Password" Class="form-control" formControlName="confirmpasswd" [controlErrorsTpl]="passwordError"/>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="errorStatus">
                                            <p></p>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="form-container">
                                            <div class="g-recaptcha" data-sitekey="6LeB-dEhAAAAABcBJxlLOKk4h20eOA2m-whJ_4qp"></div>
                                            <button class="btn-new text-center" role="link">Acceder</button>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        
                                        <div class="form-container">
                                            <button class="btn-login text-center" role="link" onclick="window.location.href='/index.html'">Accede con Facebook</button>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="errorStatus">
                                            <p>{{ errorMsj }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template let-error let-text="text" #passwordError>
            <!--{{ error | json }} {{ text }} -->
            
            <div *ngIf="error?.minlength">
                <b>Error:</b>
                <br>
                <i>Contraseña muy corta: {{error.minlength?.actualLength}}</i>
                <br>
                <i>El minimo son: ({{error?.minlength?.requiredLength}})</i>
                
            </div>
        </ng-template>
    </form>


</body>
</html>